*{
    box-sizing: border-box;  /* on applying padding to any element/tag, it doesn't allow to increase the size of the window */
    margin: 0;
    padding: 0;
    background-color: azure;
    cursor: grabbing;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
}

.container span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;
    min-width: 20px;
}

.container span::before{
    content: "";
    position: absolute;
    background-image: url("https://cdn.pixabay.com/photo/2023/04/10/19/42/sea-7914544_1280.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    transition: 20s;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.container span:hover::before{
    transition: 0s;
    opacity: 1;
    width: 1000%;
    height: 1000%;
}